@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato:300,300italic,400,600");

/* Basic */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Basic */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    -webkit-text-size-adjust: none;
}

body {
    background: #f0f0f0;
}

body, input, select, textarea {
    color: #666666;
    font-family: 'Lato', sans-serif;
    font-size: 16pt;
    font-weight: 300;
    line-height: 1.65;
}

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

strong, b {
    font-weight: 600;
}

em, i {
    font-style: italic;
}

p {
    margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #333333;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    line-height: 1.5;
    margin: 0 0 1em 0;
}

h1 {
    font-size: 2.25em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.9em;
}

h6 {
    font-size: 0.7em;
}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

hr {
    border: 0;
    border-bottom: solid 1px rgba(144, 144, 144, 0.25);
    margin: 2em 0;
}

blockquote {
    border-left: solid 4px rgba(144, 144, 144, 0.25);
    font-style: italic;
    margin: 0 0 2em 0;
    padding: 0.5em 0 0.5em 2em;
}

code {
    background: rgba(144, 144, 144, 0.075);
    border-radius: 0.25em;
    border: solid 1px rgba(144, 144, 144, 0.25);
    font-family: "Source Code Pro", monospace;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
}

pre {
    -webkit-overflow-scrolling: touch;
    font-family: "Source Code Pro", monospace;
    font-size: 0.9em;
    margin: 0 0 2em 0;
}

pre code {
    display: block;
    line-height: 1.75;
    padding: 1em 1.5em;
    overflow: auto;
    border: none;
}

/* Box */
.box {
    border-radius: 0.5em;
    border: solid 1px rgba(144, 144, 144, 0.25);
    margin-bottom: 2em;
    padding: 1.5em;
}

.box > :last-child {
    margin-bottom: 0;
}

/* Icon */
.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

.icon > .label {
    display: none;
}

/* Image */
.image {
    border-radius: 0.5em;
    border: solid 1px rgba(144, 144, 144, 0.25);
    display: inline-block;
    position: relative;
}

.image img {
    border-radius: 0.5em;
    display: block;
}

.image.left {
    float: left;
    margin: 0 1.5em 1em 0;
    top: 0.25em;
}

.image.right {
    float: right;
    margin: 0 0 1em 1.5em;
    top: 0.25em;
}

.image.left,
.image.right {
    max-width: 40%;
}

.image.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%;
}

.image.fit img {
    width: 100%;
}

.image.main {
    display: block;
    margin: 0 0 2em 0;
    width: 100%;
}

.image.main img {
    width: 100%;
}

/* List */
ol {
    list-style: decimal;
    margin: 0 0 2em 0;
    padding-left: 1.25em;
}

ol li {
    padding-left: 0.25em;
}

ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em;
}

ul li {
    padding-left: 0.5em;
}

ul.alt {
    list-style: none;
    padding-left: 0;
}

ul.alt li {
    border-top: solid 1px rgba(144, 144, 144, 0.25);
    padding: 0.5em 0;
}

ul.alt li:first-child {
    border-top: 0;
}

dl {
    margin: 0 0 2em 0;
}

dl dt {
    display: block;
    font-weight: 600;
    margin: 0 0 1em 0;
}

dl dd {
    margin-left: 1.5em;
}

.labeled {
    list-style: none;
    padding: 0;
}

.labeled li {
    margin: 0 0 1em 0;
    padding: 0;
}

.labeled a {
    border-bottom: none;
    color: inherit;
    display: flex;
    text-decoration: none;
}

.labeled a > .title {
    font-weight: 600;
    width: 10em;
    min-width: 10em;
}

.labeled a > .title:before {
    content: ':';
    margin-right: 0.5em;
}

.labeled a:hover .title:before {
    text-decoration: underline;
}

/* Actions */
ul.actions {
    display: flex;
    cursor: default;
    list-style: none;
    margin-top: -0.5em;
    padding-left: 0;
}

ul.actions li {
    padding: 0 1em 0 0;
    vertical-align: middle;
}

ul.actions li:last-child {
    padding-right: 0;
}

ul.actions .button {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}

ul.actions .button:hover {
    background-color: white;
    color: black;
    border: 2px solid #007BFF;
}

ul.actions.align-left {
    justify-content: flex-start;
}

ul.actions.align-center {
    justify-content: center;
}

ul.actions.align-right {
    justify-content: flex-end;
}

ul.actions.fit {
    display: flex;
    flex-wrap: wrap;
}

ul.actions.fit li {
    flex: 1;
    padding: 1em 0 0 0;
    width: calc(100% / 3);
}

ul.actions.fit li > * {
    width: 100%;
}

/* Align */
.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

/* 50/50 */
@media screen and (max-width: 1280px) {
    .half {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    .half > * {
        flex: 1;
        min-width: 50%;
        max-width: 50%;
        width: 50%;
    }

    .half > .image {
        margin: 0 0 1em 0;
    }
}

@media screen and (max-width: 736px) {
    .half > * {
        min-width: 100%;
        max-width: 100%;
        width: 100%;
    }
}

/* Flex */
.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex.align-left {
    justify-content: flex-start;
}

.flex.align-center {
    justify-content: center;
}

.flex.align-right {
    justify-content: flex-end;
}

.flex.justify-space-between {
    justify-content: space-between;
}

.flex.justify-space-around {
    justify-content: space-around;
}

.flex.justify-space-evenly {
    justify-content: space-evenly;
}

/* 100% width on small screens */
@media screen and (max-width: 736px) {
    .image.left,
    .image.right {
        max-width: 100%;
    }

    .image.left,
    .image.right {
        float: none;
        margin: 0 0 2em 0;
    }
}

/* Additional Custom Styles */
nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #333;
    margin: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #111;
}

/* Header Styles */
header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 1em;
}

header h1 {
    margin: 0;
}

/* Main Content Styles */
main {
    padding: 20px;
}

/* Section Styles */
section {
    margin-bottom: 20px;
}

/* Paragraph Styles */
p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Image Styles */
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Profile Image Styles */
.profile-image {
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Emphasis Styles */
em, strong, b, i {
    color: #d9534f;
}

/* Article and Aside Styles */
article, aside {
    padding: 10px;
    margin: 10px 0;
    background-color: #e7e7e7;
    border-left: 5px solid #ccc;
}

article {
    border-left-color: #007BFF;
}

aside {
    border-left-color: #007BFF;
}

/* Utility Classes */
.bg-primary {
    background-color: #007BFF !important;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.bg-dark {
    background-color: #343a40 !important;
}

.text-white {
    color: #ffffff !important;
}

.text-dark {
    color: #343a40 !important;
}

.text-center {
    text-align: center !important;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}

.col-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.col-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 540px;
    }
}

/* Custom Styles */
.profile {
    text-align: center;
    margin: 2em 0;
}

.profile img {
    max-width: 300px;
    border-radius: 50%;
}

.profile h1 {
    margin: 0.5em 0 0.2em;
}

.profile p {
    margin: 0 0 1em;
    color: #777;
}

.profile .social-icons {
    margin-top: 1em;
}

.profile .social-icons a {
    color: #007BFF;
    margin: 0 0.5em;
    text-decoration: none;
    font-size: 1.5em;
}

.profile .social-icons a:hover {
    color: #0056b3;
}

/* Section Styles */
section {
    padding: 60px 0;
    border-bottom: 1px solid #e7e7e7;
}

section:last-of-type {
    border-bottom: 0;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
}

.section-title h2 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 700;
    text-transform: uppercase;
}

.section-content {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.section-content p {
    font-size: 1.1em;
    line-height: 1.6;
}

/* Form Styles */
form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

form input,
form textarea,
form button {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #007BFF;
    border: none;
    color: #fff;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

/* Footer Styles */
footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

footer p {
    margin: 0;
}

/* Miscellaneous Styles */
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: #007BFF;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

.button.secondary {
    background-color: #6c757d;
}

.button.secondary:hover {
    background-color: #5a6268;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .profile img {
        max-width: 200px;
    }

    .section-title h2 {
        font-size: 2em;
    }
}

@media screen and (max-width: 576px) {
    nav li {
        float: none;
        width: 100%;
        text-align: center;
    }

    .profile img {
        max-width: 150px;
    }

    .section-title h2 {
        font-size: 1.75em;
    }

    .section-content {
        text-align: left;
        padding: 0 1em;
    }

    form input,
    form textarea,
    form button {
        padding: 10px;
    }
}

